:root {
    --bg-primary: #0D1117;      /* fundo principal */
    --bg-secondary: #161B22;    /* containers / cards */
    --bg-tertiary: #1C2128;     /* hover ou leve destaque */

    --text-primary: #E6EDF3;
    --text-secondary: #9DA7B3;

    --accent: #3B82F6;          /* azul discreto profissional */
}